*{
    padding: 0;
    margin:0;
    box-sizing: 0;
}
.outerContainer{
    width: 100%;
    height: 100%;
    background-color: #e3e0e0;
}
.loginWith p{
    color:#5C6F7F;
    text-align: center;
    padding-top: 100px;
}
.buttonholder img{
    width: 17px;
    margin-top: 8px;
    margin-left: 15px;
}
.buttonholder button{
    width: 110px;
    height: 40px;
    display: flex;
    margin-left: 30px;
    background-color: #005AE2;
    border-radius: 4px;
    border: none;
    margin-top: 30px;
    text-align: center;
    
}
.buttonholder p{
    margin-top: 12px;
}
.buttonholder a{
    text-decoration: none;
    color: whitesmoke;
}
.buttonholder{
    display: flex;
    margin-left: 500px;
} 

.image1{
    background-color: #5C6F7F;
    width: 200px;
    height: 1px;
    margin-right: 50px;

}
.image2{
    background-color: #5C6F7F;
    width: 200px;
    height: 1px;
    margin-left: 50px;
}
.lineHolder{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}
.lineHolder b h1{
    background: #5C6F7F;
}
.input1 input{
    width:550px;
    margin-left: 380px;
    height: 50px;
    margin-top: 60px;
    outline: none;
    border-radius: 10px;
    border: 2px solid  #005AE2;
}
#btnn::placeholder{
    padding-left: 20px;
    color: #A0B1C0;

  }

.input2 input{
    width:550px;
    margin-left: 380px;
    height: 50px;
    margin-top: 60px;
    outline: none;
    border-radius: 10px;
    border: 2px solid  #005AE2;
}

.input3 input{
    width:550px;
    margin-left: 380px;
    height: 50px;
    margin-top: 60px;
    outline: none;
    border-radius: 10px;
    border: 2px solid  #005AE2;
}

.input4 input{
    width:550px;
    margin-left: 380px;
    height: 50px;
    margin-top: 60px;
    outline: none;
    border-radius: 10px;
    border: 2px solid  #005AE2;
}

#btnn2::placeholder{
    padding-left: 20px;
    color: #A0B1C0;
  }
#btnn3::placeholder{
    padding-left: 20px;
    color: #A0B1C0;
  }
#btnn4::placeholder{
    padding-left: 15px;
    color: #A0B1C0;
}  
.lastbutton button{
    width:550px;
    margin-left: 380px;
    height: 50px;
    margin-top: 60px;
    outline: none;
    border-radius: 15px;
    border: 2px solid  #005AE2;
    color: whitesmoke;
    background-color:#005AE2;
    cursor: pointer;
}
.text p{
    text-align: center;
    color:#A0B1C0;
    margin-top: 10px;
}
.lastbutton a{
    color:whitesmoke;
    text-decoration: none;
}
.forgotpassword{
    display: flex;
    margin-left: 550px;
    color:#5C6F7F;
    margin-top: 40px;
}
.forgotpassword a{
    text-decoration: none;
    color: #005AE2;
}
.text2{
    color:#A0B1C0;
    text-align: center;
    margin-top: 15px;
}
.text3{
    color: #A0B1C0;
    text-align: center;
}



.differentDiv{
    height: 410px;
    margin-top: 150px;
}
.imgH img{
    height: 400px;
}
.pholder{
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-top: -350px;
    margin-left: 170px;
}
.logo{
    margin-top: -11px;
}
.pholder2{
    display: flex;
    justify-content: space-between;
    width: 870px;
    margin-top: 20px;
    margin-left: 420px;
}
.Group2 img{
    width: 300px;
    margin-left: 30px;
}
.div2{
    margin-left: 25px;
}
.div3{
    margin-left: 30px;
}
.last{
    display: flex;
    justify-content: end;
    margin-right: 100px;
    margin-top: -20px;
}
.last img{
    /* margin-top: -10px; */
    height: 20px;
    justify-content: space-between;
}



